@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Test</h2>
        <button type="button" class="btn btn-primary btn-md" onclick="Welcome()">
            Show Message
        </button>
        <p><i>Welcome()</i> method is in wwwRoot\ts\app.ts</p>
    </div>
</div>
